.layout {

  &__description {
    position: absolute;
    font: 15px Pt Sans;
    width: 200px;
    left: 50%;
    margin-left: -430px;
    top: 75px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}