$wall-color: #1b1b1b;

$maze-row-count: 15;
$maze-cell-count: 15;

$cell-size: 20px;
$cell-border-size: 2px;
$cell-margin: 1px;

.maze {
  height: ($maze-cell-count) * ($cell-size + 2 * ($cell-margin + $cell-border-size));
  width: ($maze-row-count)* ($cell-size + 2 * ($cell-margin + $cell-border-size));
  margin: 20px auto;

  &__row {
    overflow: hidden;
  }

  &__cell {
    float: left;
    width: $cell-size;
    height: $cell-size;
    margin: $cell-margin;
    border: $cell-border-size solid transparent; //#ECF0F1
    font: 8px/20px Pt Sans;
    text-align: center;

    &--right  {border-right: $cell-border-size solid $wall-color; }
    &--left   {border-left: $cell-border-size solid $wall-color;}
    &--top    {border-top: $cell-border-size solid $wall-color;}
    &--bottom {border-bottom: $cell-border-size solid $wall-color;}
  }
}